.wrapper {
  display: grid;
  grid-template-columns: calc(300px + var(--padding-l)) 1fr;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

/* Side */

.side {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-1);
}

.side:first-child {
  border-right: var(--padding-l) solid var(--bg-color-2);
}

/* Form */

.form {
  display: grid;
  grid-gap: var(--padding-s);
  width: 100%;
  height: 10em;
  padding: var(--padding-m);
  border-bottom: 2px solid var(--bg-color-3);
}

.form > input,
.form > button {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-3);
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  color: var(--text-color);
  transition: box-shadow 0.2s ease;
}

.form > input {
  outline: none;
}

.form > button {
  cursor: pointer;
}

.form > input:hover,
.form > input:focus,
.form > button:hover {
  box-shadow: 0 0 4px 0 var(--bg-color-3);
}

/* Room list */

.roomList {
    display: flex;
    flex-direction: column;
    grid-gap: var(--padding-s);
    width: 100%;
    height: fit-content;
    padding: var(--padding-s);
}

.room {
    display: grid;
    grid-template-columns: 1fr 100px;
    width: 100%;
    height: 2em;
    border: 2px solid var(--bg-color-3);
    border-radius: var(--border-radius);
}

.room > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

.room > button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-left: 2px solid var(--bg-color-3);
    color: var(--text-color);
    cursor: pointer;
    transition: text-shadow 0.2s ease;
}

.room > button:hover {
    text-shadow: 0 0 4px var(--text-color);
}

/* Chat */

.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: var(--padding-m);
}

.videoList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: var(--padding-s);
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.videoList > video {
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 0 var(--bg-color-3);
    transition: border-color 0.2s ease;
}

.videoList > video.local {
    border-color: rgb(248, 93, 196);
}

.videoList > video.talk {
  border-color: rgb(39, 197, 65);
}